{{#if products.length }}
    <table class="table-products">
        <caption>Productos</caption>
        <thead>
            <tr>
                <th scope="column">Id</th>
                <th scope="column">Nombre</th>
                <th scope="column">Precio</th>
                <th scope="column">Descripción</th>
                <th colspan="2"scope="column">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td data-id="{{_id}}">{{shortId}}</td>
                    <td contenteditable="true" data-product-property="name">{{name}}</td>
                    <td contenteditable="true" data-product-property="price">{{price}}</td>
                    <td contenteditable="true" data-product-property="shortDescription">{{shortDescription}}</td>
                    <td title="Editar producto">
                        <i class="btn-edit material-symbols-outlined">stylus_note</i>
                    </td>
                    <td title="Eliminar producto">
                        <i class="btn-delete material-symbols-outlined btn-cart-product__del">delete</i>
                    </td>

                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Se encontraron {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <p>No se encontraron productos</p>
{{/if}}